body {
  background-color: #16364c;
}

.container { 
  width: auto; 
  margin: auto;
}


#especificacoes {}
#especificacoes h1.title{
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
#especificacoes .cards{
  display: flex;
}
#especificacoes .cards .card {
  flex: 1; 
  padding: 50px 20px; 
  margin: px px; 
  background-color: #ffffff; 
  box-sizing: border-box;
}
#especificacoes .cards .card img{
  width: 100%;
}
#especificacoes .cards .card h1{
  color: #333;
  text-align: center;
}


#segundasessao{}